:root{
    --font-color: #464646;
    --primary-color: #2dcc70;
    --secondry-text-color:#696b79;
    --dark-secondry-color:#d8d8da;
    --black-color : #000;
    --white-color: rgb(255, 255, 255);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

html {
    font-size:62.5%;
    font-family: 'Roboto', sans-serif;
    color: var(--font-color);
}

.space__2rem {
    height: 2rem;
    width: 100%;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}